{% extends "layout.html" %}
{% block content %}
<!-- Header -->
<header id="header">
    <div class="logo">
        <span class="icon fa-gem"></span>
    </div>
    <div class="content">
        <div class="inner">
            <h1>{{ location_type.title }} Sends</h1>
            <p>Welcome to my send-tracker.</p>
        </div>
    </div>
    <nav>
        <ul>
            <li><a href="#timeseries">Scatter</a></li>
            <li><a href="#histogram">Histogram</a></li>
            <li><a href="#heatmaps">Heatmaps</a></li>
        </ul>
    </nav>
</header>
<!-- Main -->
<div id="main">
    <!-- Timeseries -->
    <article id="timeseries">
        <h2 class="major">Sends by Date</h2>
        <div class="embed-responsive" id="timeseries" style="width: 100%; height: 100%;">
            <iframe class="embed-responsive-item" src="/fig/{{ location_type.lower }}/timeseries" style="width: 100%; height: 480px;" scrolling="no" frameborder="0" ></iframe>
        </div>
        <br>
    </article>
    <!-- Histogram -->
    <article id="histogram">
        <h2 class="major">Grades Histogram</h2>
        <div class="embed-responsive" id="histogram" style="width: 100%; height: 100%;">
            <iframe class="embed-responsive-item" src="/fig/{{ location_type.lower }}/histogram" style="position: relative; width: 100%; height: 480px;" scrolling="no" frameborder="0" ></iframe>
        </div>
        <br>
    </article>
    <!-- Heatmaps -->
    <article id="heatmaps">
        <h2 class="major">Heatmaps</h2>
        <div class="embed-responsive" id="year" style="width: 100%; height: 100%;">
            <iframe class="embed-responsive-item" src="/fig/{{ location_type.lower }}/year" style="position: relative; width: 100%; height: 480px;" scrolling="no" frameborder="0" ></iframe>
        </div>
        <br>
        <div class="embed-responsive" id="wall" style="width: 100%; height: 100%;">
            <iframe class="embed-responsive-item" src="/fig/{{ location_type.lower }}/wall" style="position: relative; width: 100%; height: 480px;" scrolling="no" frameborder="0" ></iframe>
        </div>
        <br>
        <div class="embed-responsive" id="hold" style="width: 100%; height: 100%;">
            <iframe class="embed-responsive-item" src="/fig/{{ location_type.lower }}/hold" style="position: relative; width: 100%; height: 480px;" scrolling="no" frameborder="0" ></iframe>
        </div>
        <br>
        <div class="embed-responsive" id="style" style="width: 100%; height: 100%;">
            <iframe class="embed-responsive-item" src="/fig/{{ location_type.lower }}/style" style="position: relative; width: 100%; height: 480px;" scrolling="no" frameborder="0" ></iframe>
        </div>
        <br>
    </article>
</div>
{% endblock content %}