{% extends "layout.html" %}
{% block content %}
<!-- Header -->
<header id="header">
    <div class="logo">
        <span class="icon fa-gem"></span>
    </div>
    <div class="content">
        <div class="inner">
            <h1>Harrison's Climb Log</h1>
            <p>Welcome to my send-tracker.</p>
        </div>
    </div>
    <nav>
        <ul>
            <li><a href="#query">Query</a></li>
            <li><a href="/">Go Back</a></li>
            <!--<li><a href="#elements">Elements</a></li>-->
        </ul>
    </nav>
</header>
<!-- Main -->
<div id="main">
    <!-- SQL Terminal -->
    <article id="query">
        <h2 class="major">Read-Only SQL Terminal</h2>
        <form method="post" action="/download">
            <div class="fields">
                <div class="field">
                    <label for="query">Query</label>
                    <textarea name="query" id="query" placeholder="SELECT date_, grade, location, description, location_type
FROM boulders
WHERE date_ >= '2020-10-25'
  AND location_type = 'outdoor'
ORDER BY date_ ASC
;" rows="6" ></textarea>
                </div>
            </div>
            <ul class="actions">
                <!-- submit button should prompt download -->
                <li><input type="submit" value="Execute Query" class="primary" /></li>
                <li><input type="reset" value="Reset" /></li>
                <li><input type="button" value="Go Back" onclick="location.href='/query';" /></li>
                <li><input type="button" value="Guest Portal" onclick="location.href='/guest_portal';" /></li>
            </ul>
        </form>
    </article>
</div>
<!-- Footer -->
<footer id="footer">
    <p class="copyright">&copy; Harrison Wang. All rights reserved. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
</footer>
{% endblock content %}